body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.login{
  border: solid black;
  display: flex;
  
  flex-direction: column;
  width: 100%;

}

.login h1{
  display: flex;
  justify-content: center;
}



.login form {
  display: flex;
  padding-left: 300px;
  flex-direction: column;
  width: 50%;
}

.login input {
  display: flex;
  width: 70%;
  margin-bottom: 12px;
  justify-content: flex-end;
}

.login input[type="submit"] {
  width: 15%;
  margin-top: 40px;
  justify-content: center;
  background: black;
  color: white;
  border: solid black;
}

.login input[type="submit"]:hover {
 background: white;
 color: black;
}

.signup {
   border: solid black;
   display: flex;
   flex-direction: column;
   width: 100%;
}

.signup h1{
  display: flex;
  justify-content: center;
}

.signup form{
  display: flex;
  padding-left: 300px;
  flex-direction: column;
  width: 50%;
}

.signup input{
  display: flex;
  width: 70%;
  margin-bottom: 12px;
  justify-content: flex-end;
}

.signup input[type="submit"] {
  width: 15%;
  margin-top: 40px;
  justify-content: center;
  background: black;
  color: white;
  border: solid black;
}

.signup input[type="submit"]:hover {
 background: white;
 color: black;
}

#nav-bar {
  position: flex;
  width: 100%;
  background: black;
  display: flex;
  align-items: center;
  border: solid black;
}

#nav-bar-logo {
  float: left;
}

#nav-bar-items ul {
  
  list-style: none;
  margin: 0;
  padding: 0; 
  display: flex;
}

.nav-bar-logo img {
  float: left;
  max-width: 50%;
  height: 50%;
}
.navbar-items-right {
  width: 100%;
}
 .navbar-items-right ul{
  float: right;
 }

 .navbar-items-right ul li{
   margin-right: 10px;
 }

.navbar-navigation-items a{
  color: white;
  text-decoration: none;
}

.navbar-navigation-items a:hover {
  background: white;
  color: black;
}
.navbar-navigation-items a:active{
  color: white;
}

.navbar-navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}


.navbar-navigation-items li {
  padding: 0 .5rem;
}


#filter-bar {
  column-fill: .8rem;
  
  height: 100%;
}

#products {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 24px;
}

#product-container
{
  overflow: scroll;
  margin-top: 32px;
  
}

#search-form
{
  display: flex;
  width: 100%;
}

.product-card {
  width: 200px;
  margin: 0 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card:hover
{
  border: 1px solid black;
  margin: 0 21px;
}

.product-card div h1
{
  margin-left: 8px;
}

.product-name
{
  font-size: 0.5em;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
}

#product-show-card-img {
  width: 300px;
  height: 300px;
}

#product-show-card-details {
  width: 70%;
}

.row
{
  display: flex;
  flex-direction: row;
}

#search-bar {
  height: 30%;
}

#root>div>div:nth-child(3)>div {
  flex-direction: column
}

.modal {
  width: 100%;
  height: auto;
  background: rgba(55, 55, 55, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100vh - 4px);
  z-index: 1;
  transition: 1.1s ease-out;
  box-shadow: -10rem 10rem 10rem rgba(black, 0.2);
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  
}

.modal-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

.close-btn
{
  position: relative;
  top: 0;
  right: 0;
}

.modal-content img{
  max-width: 100%;
  height: 100%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.cart-img {
  width: 5%;
  height: auto;
}

#filter-bar {
  border-right: 2px solid black;
  padding-right: 50px;
  padding-left: 30px;
  padding-bottom: 100%;
}

.cart-show-page {
  width: 100%;
  height: auto;
}

.cart-show-page h1 {
  display: flex;
  justify-content: center;
}

.cart-show-page-items {
  border: solid black;
  text-align: left;
  
}

.cart-show-page-items li {
  display: flex;
  justify-content: flex;
}

.cart-show-page-items li div{
  display: flex;
  justify-content: flex-end;
}

.cart-show-page-items img{
  border: solid black;
  
}

.cart-price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button {
  display: flex;
  justify-content: flex-end;

}

.button button {
  color: white;
  border: solid black;
  background: black;
}

.button button:hover{
  background: white;
  color: black;
}


#remove-from-cart {
  padding-right: 20px;
}

.user-profile {
  padding: 50px;
}

.user-profile-cart h2 {
  display: flex;
  justify-content: flex-end;
}

.up-prev-orders{
  border: solid black;
}

.up-prev-orders h1{
  display: flex;
  justify-content: flex-end;
}
.user-profile-cart {
  border: solid black;
}